.btnNavigate {
  border: none;
  border-radius: 1.5rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btnNavigate:hover {
  background-color: rgba(37, 102, 39, 0.247);
  transition: 0.5s;
  border: 1px solid #4caf50;
  scale: 0.9;
}

.btnNavigate:active {
  transition: 0.5s;
  border: 1px solid #4caf50;
  scale: 0.9;
}

.btnNavigate:visited {
  transition: 0.5s;
  border: 1px solid #4caf50;
  scale: 0.9;
}

.btnNavigate:link {
  transition: 0.5s;
  border: 1px solid #4caf50;
  scale: 0.9;
}

.btnWhatsapp {
  border: none;
  border-radius: 1.5rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btnWhatsapp:hover {
  background-color: rgba(37, 102, 39, 0.247);
  transition: 0.5s;
  border: 1px solid #25d366;
  scale: 0.9;
}

.btnSchedule {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2ab9a6;
  border: none;
  border-radius: 1.5rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btnSchedule:hover {
  background-color: rgba(37, 102, 39, 0.247);
  transition: 0.5s;
  border: 1px solid #2ab9a6;
  scale: 0.9;
}

.btnSchedule:active {
  transition: 0.5s;
  border: 1px solid #2ab9a6;
  scale: 0.9;
}

.btnSchedule:visited {
  transition: 0.5s;
  border: 1px solid #2ab9a6;
  scale: 0.9;
}
