@import url('react-responsive-carousel/lib/styles/carousel.min.css');

.sectionClasses {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 10rem 25rem;
  gap: 2rem;
}

.containerTexts {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem 5rem;
}

.titleClasses {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  margin: 1rem 0;
}

.textClasses {
  font-size: 2rem;
  color: #000000;
  width: 30rem;
  margin: 1rem 0;
}

.carouselYoga {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  margin-bottom: 9rem;
}

.carouselYoga img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}

.carouselBarra {
  display: flex;
  text-align: center;
  width: 60%;
  height: 100%;
  margin-bottom: 9rem;
}

.carouselMassage {
  display: flex;
  text-align: center;
  width: 60%;
  height: 100%;
  margin-bottom: 9rem;
}

@media screen and (max-width: 768px) {
  .containerClasses {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .sectionClasses {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 10rem 0;
    gap: 2rem;
  }

  .carouselYoga,
  .carouselBarra,
  .carouselMassage {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: fit-content;
    margin-bottom: 9rem;
  }
}
