@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #863288;
  color: #f3d6ac;
  padding: 0 20px;
  height: 150px;

  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.navHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
}

.navHeader a {
  color: #f3d6ac;
}

.navHeader li:hover {
  color: #f3d6ac;
}

.containerHeader img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .containerHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  .navHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .containerHeader img {
    width: 100px;
    height: 100px;
  }
}

/* Path: src\styles\Header.css */
/* Green: #9ac979 */
/* Yellow sand: #f3d6ac */
/* Light purple: ##8c4684 */
